body {
  background: #EEEEEE;
  color: #333333;
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.6;
  margin: 20px auto;
  max-width: 650px;
  padding: 20px 20px;
}

h1,h2,h3 {
  font-family: Georgia, Times, serif;
  line-height: 1.2;
}
